.economia-introduçao{
    background-color: #76a29a;
    color: aliceblue;
    width: 100%;
    height: 150px;
    border-radius: 15px;
    padding: 20px ;
    margin-top: 2%;
    margin-bottom: 3%;
}

.economia-imagem-principal{
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-image: url(../imagens/62eb1e40-c9b5-4e33-983b-9af3dfcfe69c.avif);
    border-radius: 16px;
    margin-top: 2%;
    
}
