*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #355952;
    margin-left: 20px;
    margin-right: 20px;

}
h1{
    color: aliceblue;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-family: unset;
    font-size: 3em;
}

