*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: #355952;
    margin-left: 20px;
    margin-right: 20px;

    

}
h1{
    color: aliceblue;
}

.conteudo{
    background-color: #76a29a;
    color: aliceblue;
    width: 800px;
    height: 150px;
    border-radius: 15px;
    padding: 20px ;
    
}

.imagem-planta{
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-image: url(imagens/62eb1e40-c9b5-4e33-983b-9af3dfcfe69c.avif) ;
    border-radius: 16px;
    


}

